@import "/styles/variables";
@import "/styles/mixins";

.hero {
  height: 100vh;
  color: $text-color-white;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    padding-top: 32px;
  }
  @include desktop {
    padding-top: 25vh;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__intro {
      flex: 1;
    
      &--profile-picture {
        margin-left: auto;
        margin-right: auto;
        display: block;

        //mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
      }
      &--greeting:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid #00bfb6;
        border-right: 10px solid transparent;
        border-top: 10px solid #00bfb6;
        border-bottom: 10px solid transparent;
        left: -1rem;
        top: 6rem;
      }
      &--greeting {
        font-size: 5rem;
        font-weight: 700;
        display: block;
        color: #d34f70; 
        padding: 0.25rem 1.5rem;
        background-color: $bg-color-light;
      }
 

      &--statement {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;

      }

      &--links {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      &--icon {
        color: $text-color-grey;
        font-size: 1.75rem;
        transition: 0.3s;

        &:hover {
          font-size: 2rem;
        }
      }
    }

    &__summary {
      flex: 1;

      &--title {
        font-size: 3rem;
        font-weight: 200;
      }

      &--heading {
        color: $text-color-grey;
        line-height: 1.5;
      }

      &--description {
        line-height: 1.5;
      }
    }
  }

  &__next {
    padding-bottom: 5vh;
    text-align: center;

    &--link {
    }

    &--icon {
      color: $text-color-grey;
      font-size: 4rem;
      transition: 0.3s;

      &:hover {
        font-size: 4.5rem;
      }
    }
  }
}
