@import "./reset";
@import "./variables";
@import "./common";
@import "./mixins";

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $text-color-dark;
  background-color: $bg-color-white;
}

img {
  vertical-align: middle;
}

.mark {
  display: inline-block;
  background-color: $bg-color-light;
  padding: 2px 4px 2px 4px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 0.5s;

  &.bg-dark {
    background-color: $bg-color-dark;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 16px;
    list-style-type: none;
    transition: 0.4s;

    &--item {
    }

    &--link {
      text-decoration: none;
      color: darken($text-color-white, 10%);
      padding: 1rem;

      &:hover {
        color: $text-color-white;
      }
    }
  }
}

.hero {
  height: 100vh;
  color: $text-color-white;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    padding-top: 32px;
  }
  @include desktop {
    padding-top: 25vh;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__intro {
      width: 45%;

      &--title {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
      }

      &--links {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

      &--icon {
        color: $text-color-grey;
        font-size: 1.75rem;
        transition: 0.3s;

        &:hover {
          font-size: 2rem;
        }
      }
    }

    &__summary {
      width: 45%;

      &--title {
        font-size: 3rem;
        font-weight: 200;
      }

      &--heading {
        color: $text-color-grey;
        line-height: 1.5;
      }

      &--description {
        line-height: 1.5;
      }
    }
  }

  &__next {
    padding-bottom: 5vh;
    text-align: center;

    &--link {
    }

    &--icon {
      color: $text-color-grey;
      font-size: 4rem;
      transition: 0.3s;

      &:hover {
        font-size: 4.5rem;
      }
    }
  }
}

.projects {
  min-height: 100vh;
  background-color: $bg-color-light;
  padding-top: 128px;
  padding-bottom: 128px;

  &--title {
    font-size: 2.75rem;
    font-weight: 200;
    line-height: 1.2;
    @include tablet {
      font-size: 3.5rem;
      font-weight: 200;
      line-height: 1.2;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
    }

    &__item {
      flex-basis: 32%;
      box-shadow: 5px 10px 30px $bg-color-light-grey;

      &:hover {
        .projects__list__item--overlay {
          opacity: 1;
          z-index: 1;
        }
      }

      &--image {
        width: 100%;
        height: 100%;
      }

      &--content {
        color: $text-color-white;
        padding: 16px;
      }

      &--title {
        font-size: 2.5rem;
        font-weight: 200;
        line-height: 1.2;
        padding-bottom: 16px;
      }

      &--sub-heading {
        padding-bottom: 16px;
      }

      &--description {
        padding-bottom: 32px;
      }

      &--overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: #233d47da;
      }
    }
  }
}

.about {
  min-height: 100vh;
  background-color: $bg-color-white;
  padding-top: 128px;
  padding-bottom: 128px;

  &--title {
    font-size: 2.75rem;
    font-weight: 200;
    line-height: 1.2;
    @include tablet {
      font-size: 3.5rem;
      font-weight: 200;
      line-height: 1.2;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include tablet {
      flex-direction: row;
    }

    &__summary {
      width: 100%;
      @include tablet {
        width: 50%;
      }
      @include desktop {
        width: 60%;
      }

      &--description {
        font-size: 1.25rem;
        font-weight: 200;
        line-height: 1.2;
        margin-bottom: 16px;
      }

      &--links {
        padding-left: 24px;
        li {
          margin-bottom: 4px;
        }
      }
    }

    &__banner {
      width: 100%;
      @include tablet {
        width: 50%;
      }
      @include desktop {
        width: 40%;
      }

      &--image {
        box-shadow: 5px 10px 30px $bg-color-light-grey;
        width: 100%;
      }
    }
  }
}

.footer {
  color: $text-color-white;

  &--title {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }

  &__previous {
    text-align: center;

    &--link {
    }

    &--icon {
      color: $text-color-grey;
      font-size: 4rem;
    }
  }

  &__content {
    &--description {
      text-align: center;
      line-height: 1.5;
    }

    &--links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
    }

    &--icon {
      color: $text-color-grey;
      font-size: 1.75rem;
      transition: 0.3s;
    }
  }

  &--foot {
    text-align: center;
    color: $text-color-grey;
  }
}

.error {
  margin-top: 20vh;

  &--title {
    text-align: center;
    font-size: 8em;
    font-weight: 800;

    & > span {
      display: inline-block;
      position: relative;

      & > span {
        display: inline-block;
        position: relative;
      }

      &:nth-of-type(1) {
        perspective: 1000px;
        perspective-origin: 500% 50%;

        & > span {
          transform-origin: 50% 100% 0px;
          transform: rotateX(0);
          animation: dangle 8s infinite;
        }
      }

      &:nth-of-type(3) > span {
        transform-origin: 100% 100% 0px;
        transform: rotate(0);
        animation: sidedrop 8s infinite;
      }
    }
  }

  &__message {
    margin-top: 64px;
    margin-bottom: 64px;

    &--title {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1.2;
    }

    &--description {
      font-size: 1.25rem;
      font-weight: 200;
      line-height: 1.2;
    }
  }
}

@keyframes dangle {
  0% {
    transform: rotateX(0);
  }
  13% {
    transform: rotateX(90deg);
  }
  15% {
    transform: rotateX(120deg);
  }
  70% {
    transform: rotateX(120deg);
  }
  80% {
    transform: rotateX(0);
  }
}
@keyframes sidedrop {
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
}
