@import "./reset";
@import "./variables";
@import "./common";
@import "./mixins";

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $text-color-dark;
  background-color: $bg-color-white;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5rem 16px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote::after {
  color: #ccc;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
img {
  vertical-align: middle;
}

.mark {
  display: inline-block;
  color: #d34f70;
  background-color: $bg-color-light;
  padding: 2px 4px 2px 4px;
}

.post-card:hover {
  & h3 {
    text-decoration: underline;
  }
}

.error {
  margin-top: 20vh;

  &--title {
    text-align: center;
    font-size: 8em;
    font-weight: 800;

    & > span {
      display: inline-block;
      position: relative;

      & > span {
        display: inline-block;
        position: relative;
        color: #d34f70;
      }

      &:nth-of-type(1) {
        perspective: 1000px;
        perspective-origin: 500% 50%;

        & > span {
          transform-origin: 50% 100% 0px;
          transform: rotateX(0);
          animation: dangle 8s infinite;
        }
      }

      &:nth-of-type(3) > span {
        transform-origin: 100% 100% 0px;
        transform: rotate(0);
        animation: sidedrop 8s infinite;
      }
    }
  }

  &__message {
    margin-top: 64px;
    margin-bottom: 64px;

    &--title {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1.2;
    }

    &--description {
      font-size: 1.25rem;
      font-weight: 200;
      line-height: 1.2;
    }
  }
}

@keyframes dangle {
  0% {
    transform: rotateX(0);
  }
  13% {
    transform: rotateX(90deg);
  }
  15% {
    transform: rotateX(120deg);
  }
  70% {
    transform: rotateX(120deg);
  }
  80% {
    transform: rotateX(0);
  }
}
@keyframes sidedrop {
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
}
